:root{
  --green: #2b3a34;
  --orange: #cb7736;
  --gray: #b3b3b3;
}
@font-face {
  font-family: 'AvenirLTStd';
  src: url('./avenir/avenir.otf') format('truetype');
}
html{
  font-size: 62.5%;
}
body{
  margin: 0;
  background-color: var(--green);
  font-family: 'AvenirLTStd', sans-serif;
  word-spacing: 5px;
}
.informacion{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
}
.logo{
  margin: 0;
  width: 100%;
}
.logo img{
  width: 100%;
  max-height: 39px;
  max-width: 275px;
}
h1, h2{
  width: 100%;
  font-weight: 100;
}
h1 {
  color: white;
  font-size: 3.3rem;
  margin-bottom: 0;
}
h2{
  font-size: 1.5rem;
  color: var(--gray);
}
.botones{
  width: 100%;
}
.botones button{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  color: white;
  background-color: var(--orange);
  border-radius: 5px;
  font-family: AvenirLTStd;
  shape-outside: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
button:hover{
  background-color: #D08248;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.social-media{
  margin-top: 20px;
  display: inline-flex;
  justify-content: center;
}
.social-media .icon{
  margin: 0 10px;

}
.social-media .icon{
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
/*border: 2px solid var(--orange);  */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
} 

.social-media .icon img{
  height: 20px;
  width: 20px;
}
.social-media .icon:hover {
  background-color: var(--orange);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .9);
  transition: box-shadow .5s, background-color .5s;
}
.social-media .instagram:hover img{
  content: url(./logos/instagram-white.svg);
}
.social-media .tiktok:hover img{
  content: url(./logos/tiktok-white.svg);
}
.social-media .spotify:hover img{
  content: url(./logos/spotify-white.svg);
}
.social-media .x:hover img{
  content: url(./logos/x-twitter-white.svg);
}
.link-container{
  display: contents;
}
.mockup{
  display: none;
}